{% extends 'myapp/base.html' %}
{% block content %}
<form action="" method="post" novalidate>
    {% csrf_token %}
    <p>If you have not created an account yet, then please
    <a href="{% url 'signup' %}">sign up</a> first.</p>
    {% for fm in form %}
    <div class="container mt-5">
        {{fm.label_tag}} {{fm}} {{fm.errors}} <br><br>
        {% endfor %}
        <input type="submit" value="Login">
        {% comment %} <a href="{% url 'signup' %}" role="button">SignUp</a> {% endcomment %}
    </div>
</form>
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p> {{error}} </p>
{% endfor %}
{% endif %}



{% endblock content %}